@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-gray-100;
}

img {
  mix-blend-mode: multiply;
  image-rendering: pixelated;
  user-select: none;
}

.nuxt-link-exact-active {
  @apply text-black bg-white;
}

.nuxt-link-exact-active span {
  @apply bg-white;
}
